html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

.weather {
    margin-top: 1rem;
    margin-left: 1rem;
}

.degrees {
    border-left: 2px solid black;
    padding-left: 0.3rem;
    font-size: large;
}

.container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: auto;
    border-radius: 8px;
    padding: 2rem 0.5rem;
    top: 90px;
}


.big-blob-center {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(/images/blob4.svg);
    z-index: -1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.small-blob-left {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(/images/blob.svg);
    top: 107%;
    left: -39%;
}


.small-blob-right {
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(/repos/it-academy-bcn/sprint-5/images/blob1.svg);
    top: -49%;
    left: 103%;
}

h2 {
    color: white;
}

h4 {
    color: white;
    height: 60px;
    margin: 0 auto;
    width: 550px;
}

.joke {
    display: none;
}

.jokeButton {
    background-color: rgb(237, 201, 81);
    padding: 0.4rem 0.6rem;
    color: black;
    border-radius: 8px;
}

.score-box {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.one,
.two,
.three {
    margin: 1rem;
    border-style: none;
    background-color: transparent;
    font-size: 1.7rem;
    cursor: pointer;

}

.box-weather {
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 2rem;
    margin-top: 1rem;
}