html,body{
    height: 100%;
}
body{
    margin: 0px;
}

.weather{
    margin-top:1rem;
    margin-left:1rem;
}
.container{
    position:relative;
    width: 50%;
    margin:0 auto;
    text-align: center;
    height: auto;
    border-radius: 8px;
    padding: 2rem 0.5rem;
   
 }


 .small-container-left{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/repos/it-academy-bcn/sprint-5/images/blob.svg);
    top: 60%;
    left: 5%;
 }


 .small-container-left{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(/repos/it-academy-bcn/sprint-5/images/blob3.svg);
    top: 60%;
    left: 5%;
 }


h4{
    color:red;
    height:auto;
    
}

.joke{
    display: none;
}

.jokeButton{
    background-color: #3ED3DE;
    padding: 0.4rem 0.6rem;
    color: white;
    border-color: #3ED3DE;
    border-radius: 8px;
}

.score-box{
    display: flex;
    justify-content: center;
}

.one, .two, .three{
    margin: 1rem;
    border-style: none;
    background-color: transparent;
    font-size: 1.7rem;

}

.box-weather{
    display: flex;
    align-items: center;
}
